body { 
  background-color: #383e65;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-shadow: 2px 2px 4px #383e65;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.news-feed {
  display: flex;
  flex-direction: column;
  text-shadow: #383e65 1px 1px 2px;
  color: white;
  padding: 2%;
  margin-left: 2%;
  border-radius: 16px;
  background-color: #ff6e27;
  background-image: linear-gradient(180deg, #fbf665 0%, #ff6e27 100%); 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


  
}
.currency-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-shadow: #383e65 1px 1px 1px;
  color: white;
  padding: 5%;
  margin-left: 1%;
  border-radius: 16px;
  background-color: #6287f8;
  background-image: linear-gradient(180deg, #6287f8 0%, #383e65 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


}
.app {
  display: flex;
  flex-direction: row;
  flex: 1;
 
}
.exchange-rate {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  padding: 5%;
}
.convert-button {
  margin-left: 30%;
  background-color: #f4ec04;
  background-image: linear-gradient(160deg, #fbcd02 0%, #ff6e27 100%);
  color: white;
  text-shadow: #383e65 1px 1px 1px;
  border: white 2px solid;
  padding: 10px 40px 10px 40px;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}
.resources-area {
  text-shadow: #383e65 1px 1px 1px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 1%;
  
}
.note-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}
/* unvisited link */
a:link {
  /* color: #fbf665; */
  color: white;
}

/* visited link */
a:visited {
  color: #73fffe;
  /* color: #ff6e27; */
}

/* mouse over link */
a:hover {
  color: #fbf665;
}

/* selected link */
a:active {
  color: #6287f8;
}
button:hover {
  background-color: #fbf665;
  background-image: linear-gradient(250deg, #fbf665 0%, #ff6e27 100%);
  color: white;
  text-shadow: #383e65 1px 1px 1px;
  border: white 2px solid;
  padding: 10px 40px 10px 40px;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;
}
  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;

}

.ticker__item {

  display: inline-block;

  padding: 0 2rem;
  font-size: 2rem;
  color: yellow;
  text-shadow: #000 1px 1px 1px;

}
/* added 5-28-22*/
.bottom-radious {
  border-radius: 0px 0px 40px 40px;
}

.text-right {
  text-align: right;
}

.d-col {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
